<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Какой-то блог</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        window.addEventListener('load', function () {
            let bool = [[${bool.inputStart}]];
            if (bool) {
                let myModal = document.getElementById('myModal');
                let modal = bootstrap.Modal.getOrCreateInstance(myModal)
                modal.show();
            }
        });
    </script>
</head>
<body>



<div class="modal fade" id="myModal" aria-hidden="true" tabindex="-1">
    <div class ="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" >Добро пожаловать на сайт. Расскажите о себе</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div th:if="${bool.inputStart}">
                <form action="/blog/setting/set" th:object="${strings}" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="formControlInput1" class="form-label">Имя блога</label>
                            <input class="form-control" id="formControlInput1" placeholder="Какой-то блог" name="string1" th:field="*{string1}">
                        </div>
                        <div class="mb-3">
                            <label for="formControlInput2" class="form-label">Описание профиля</label>
                            <input class="form-control" id="formControlInput2" name="string2" th:field="*{string2}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-secondary" href="/blog/setting/back">Больше не предлагать</a>
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="list-group list-group-horizontal">
        <table class="table">
            <tr th:each="n: ${nav}">
                <div th:if="${n.bool}">
                    <li class="list-group-item active"><a th:text="${n.name}"></a></li>
                </div>
                <div th:if="not ${n.bool}">
                    <li class="list-group-item"><a th:href="${n.url}" th:text="${n.name}"></a></li>
                </div>
            </tr>
        </table>
    </ul>

    <div class="container-fluid">
        <div style="float: left">
            <div th:if="${userRecord}">
                <a class="navbar-brand" href="#" th:text="${userRecord.nameBlog}"></a>
            </div>
            <div th:if="${myRecord}">
                <a class="navbar-brand" href="#" th:text="${userRecord.nameBlog}"></a>
            </div>
            <div th:if="not ${userRecord}">
                <div th:if="not ${myRecord}">
                    <a class="navbar-brand" href="#">Какой-то блог</a>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div th:if="${principal}">
                <ul class="navbar-nav me-auto mb-3 mb-lg-0">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <li class="nav-item dropstart">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${user.name}"></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#recordModal">Добавить пост</a></li>
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#mesModal">Уведомления<span class="badge bg-primary" th:text="${num}"></span></a></li>
                                <li><a class="dropdown-item" href="/blog/likeRecord">Понравившееся</a></li>
                                <li><a class="dropdown-item" href="/blog/favRecord">Избранное</a></li>
                                <li><a class="dropdown-item" href="/blog/settingUser">Настройки</a></li>
                                <div th:if="${admin}">
                                    <div th:if="${userRecord}">
                                        <li><a class="dropdown-item" th:href="@{/blog/admin/blogUser?name={n}(n=${userRecord.name})}">Администрирование</a></li>
                                    </div>
                                </div>
                                <li><a class="dropdown-item" href="/logout">Выход</a></li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
            <div th:if="not ${principal}">
                <a class="nav-link" href="/login" role="button" aria-expanded="false">Войти</a>
            </div>
        </div>
    </div>
</nav>

<nav>
    <div class="container">
        <div th:if="${bool.myRecord}">
            <div class="col-6 align-self-center">
                <h3 th:text="${userRecord.name}"></h3>
                <h6 th:text="${userRecord.description}"></h6>
            </div>
        </div>

        <div th:if="${bool.userRecord}">
            <div class="col-6 align-self-center">
                <h3 th:text="${userRecord.name}"></h3>
                <h6 th:text="${userRecord.description}"></h6>
            </div>
            <div class="col-4">
                <div th:if="not ${subscribe}">
                    <a class="btn btn-outline-primary" th:href="@{/blog/sub?name={s}(s=${userRecord.name})}">Подписаться</a>
                </div>
                <div th:if="${subscribe}">
                    <a class="btn btn-primary" th:href="@{/blog/sub?name={s}(s=${userRecord.name})}">Вы подписаны</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<p></p>

<div class="container">
    <div class="row">
        <div class="col-8">
            <div th:if="${bool.empty}">
                <h4 th:text="${message}"></h4>
            </div>

                <div class="shadow-sm p-3 mb-5 bg-body rounded">
                    <form th:action="@{/blog/addRecord?link={l}(l=${link})}" th:object="${string}" method="post">
                        <div class="input-group mb-2">
                            <textarea type="text" class="form-control" rows="3" aria-label="Recipient's username" aria-describedby="button-addon2" th:field="*{text}" autocomplete="off" maxlength="16000"></textarea>
                        </div>
                        <div class="d-grid d-md-flex justify-content-md-end">
                            <button class="btn btn-outline-primary" type="submit">Сохранить</button>
                        </div>
                    </form>
                </div>

                <tr th:each="r: ${record}">
                    <div class="shadow-sm p-3 mb-5 bg-body rounded">
                        <figure>
                            <blockquote class="blockquote"><a th:href="@{/blog/userRecord?name={n}(n=${r.username})}" th:text="${r.username}"></a></blockquote>
                            <figcaption class="blockquote-footer" th:text="${r.date}"></figcaption>
                        </figure>

                        <div th:if="${r.boolText}">
                            <table class="table">
                                <tr th:each="s: ${r.text}">
                                    <p class="lh-1" th:text="${s}"></p>
                                </tr>
                            </table>
                        </div>

                        <a class="btn btn-outline-primary" type="button" th:href="@{/blog/userRecord/record?id={i}(i=${r.id})}" th:text="'Комментарии ('+ ${r.comm} +')'"></a>
                        <div th:if="not ${bool.myRecord}">
                            <div class="d-md-flex justify-content-md-end">
                                <div th:if="${r.likeBool}">
                                    <a class="btn btn-primary me-md-2" type="button" th:href="@{/blog/like?id={i}&link={l}(i=${r.id},l=${link})}" th:text="'Нравиться ('+ ${r.like} +')'">Нравится</a>
                                </div>
                                <div th:if="not ${r.likeBool}">
                                    <a class="btn btn-outline-primary me-md-2" type="button" th:href="@{/blog/like?id={i}&link={l}(i=${r.id},l=${link})}" th:text="'Нравиться ('+ ${r.like} +')'">Нравится</a>
                                </div>
                                <div th:if="${r.favBool}">
                                    <a class="btn btn-primary me-md-2" type="button" th:href="@{/blog/fav?id={i}&link={l}(i=${r.id},l=${link})}">B избранное</a>
                                </div>
                                <div th:if="not ${r.favBool}">
                                    <a class="btn btn-outline-primary me-md-2" type="button" th:href="@{/blog/fav?id={i}&link={l}(i=${r.id},l=${link})}">B избранное</a>
                                </div>
                            </div>
                        </div>

                        <div th:if="${bool.myRecord}">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="button" class="btn btn-outline-primary me-md-2" disabled th:text="'Нравиться ('+ ${r.like} +')'"></button>
                                <button type="button" class="btn btn-outline-primary me-md-2" disabled>В избранное</button>
                            </div>
                        </div>
                    </div>
                </tr>
        </div>

        <div class="col-4">
            Рекомендуем подписаться:
            <div class="overflow-auto">
                <table class="table">
                    <tr th:each="u: ${users}">
                        <td>
                            <a th:href="@{/blog/userRecord?name={s}(s=${u.name})}" th:text="${u.name}"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="recordModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ваша новая запись:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/blog/addRecord?link={l}(l=${link})}" th:object="${string}" method="post">
                    <div class="input-group mb-2">
                        <textarea type="text" class="form-control" rows="5" aria-label="Recipient's username" aria-describedby="button-addon2" th:field="*{text}" autocomplete="off" maxlength="16000"></textarea>
                    </div>
                    <div class="d-grid d-md-flex justify-content-md-end">
                        <button class="btn btn-outline-primary" type="submit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mesModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mesModalLabel">Уведомления:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <table class="table">
                        <tr th:each="n: ${notice}">
                            <a class="list-group-item" th:href="@{/blog/delMes?id={i}(i=${n.id})}">
                                <figure>
                                    <blockquote class="blockquote" th:text="${n.text}"></blockquote>
                                    <figcaption class="blockquote-footer" th:text="${n.date}"></figcaption>
                                </figure>
                                <div th:if="${n.comm}">
                                    <span class="d-inline-block text-truncate" style="max-width: 400px;" th:text="${n.string}"></span>
                                </div>
                            </a>
                        </tr>
                    </table>
                </ul>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" th:href="@{/blog/delAllMes?link={l}(l=${link})}">Всё прочитано</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>

