<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Какая-то запись</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="list-group list-group-horizontal">
        <table class="table">
            <tr th:each="n: ${nav}">
                <li class="list-group-item"><a th:href="${n.url}" th:text="${n.name}"></a></li>
            </tr>
        </table>
    </ul>

    <div class="container-fluid">
        <div style="float: left">
            <a class="navbar-brand" href="#">Какой-то блог</a>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <ul class="navbar-nav me-auto mb-3 mb-lg-0">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <li class="nav-item dropstart">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${user.text}"></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#recordModal">Добавить пост</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#mesModal">Уведомления<span class="badge bg-primary" th:text="${num}"></span></a></li>
                            <li><a class="dropdown-item" href="#">Настройки</a></li>
                            <li><a class="dropdown-item" href="/logout">Выход</a></li>
                        </ul>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>
<p></p>

<div class="container">
    <div class="row">
        <div class="col-8">

            <div class="shadow-sm p-3 mb-5 bg-body rounded">
                <figure>
                    <blockquote class="blockquote"><a th:href="@{/blog/userRecord?name={n}(n=${record.username})}" th:text="${record.username}"></a></blockquote>
                    <figcaption class="blockquote-footer" th:text="${record.date}"></figcaption>
                </figure>
                <div class="mb-3">
                    <textarea class="form-control" th:text="*{record.text}" rows="5" readonly></textarea>
                </div>

                <div th:if="not ${bool.myRecord}">
                    <div class="d-md-flex justify-content-md-end">
                        <div th:if="${record.likeBool}">
                            <a class="btn btn-primary me-md-2" type="button" th:href="@{/blog/like?id={i}&link={l}(i=${record.id},l=${link})}" th:text="'Нравиться ('+ ${record.like} +')'">Нравится</a>
                        </div>
                        <div th:if="not ${record.likeBool}">
                            <a class="btn btn-outline-primary me-md-2" type="button" th:href="@{/blog/like?id={i}&link={l}(i=${record.id},l=${link})}" th:text="'Нравиться ('+ ${record.like} +')'">Нравится</a>
                        </div>
                        <div th:if="${record.favBool}">
                            <a class="btn btn-primary me-md-2" type="button" th:href="@{/blog/fav?id={i}&link={l}(i=${record.id},l=${link})}">B избранное</a>
                        </div>
                        <div th:if="not ${record.favBool}">
                            <a class="btn btn-outline-primary me-md-2" type="button" th:href="@{/blog/fav?id={i}&link={l}(i=${record.id},l=${link})}">B избранное</a>
                        </div>
                    </div>
                </div>

                <div th:if="${bool.myRecord}">
                    <p th:text="'Понравилось ' + ${record.like} + ' человек'"></p>
                    <p th:text="'Комментировали ' + ${record.comm} + ' человек'"></p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a type="button" class="btn btn-outline-primary me-md-2" data-bs-toggle="modal" data-bs-target="#editModal">Редактировать</a>
                        <a type="button" class="btn btn-outline-primary me-md-2" data-bs-toggle="modal" data-bs-target="#delModal">Удалить</a>
                    </div>
                </div>
            </div>

            <div class="shadow-sm p-3 mb-5 bg-body rounded">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <form th:action="@{/blog/comm?id={i}&link={l}(i=${record.id},l=${link})}" th:object="${commString}" method="post">
                            <div class="input-group mb-3">
                                <button class="btn btn-outline-primary" type="submit">Сохранить</button>
                                <input type="text" class="form-control" aria-describedby="button-addon2" th:field="*{text}" autocomplete="off">
                            </div>
                        </form>
                    </li>
                    <table class="table">
                        <tr th:each="c: ${comm}">
                            <li class="list-group-item">
                                <figure>
                                    <blockquote class="blockquote"><a th:href="@{/blog/userRecord?name={n}(n=${c.name})}" th:text="${c.name}"></a></blockquote>
                                    <figcaption class="blockquote-footer" th:text="${c.date}"></figcaption>
                                </figure>
                                <p th:text="${c.text}"></p>
                                <a th:href="@{/blog/userRecord/record?id={i}&comm={c}(i=${record.id},c=${c.id})}">Ответы</a> /
                                <a data-bs-toggle="collapse" th:href="'#commReply'+${c.id}" role="button" aria-expanded="true">Ответить</a>
                                <div class="collapse" th:id="'commReply'+${c.id}">
                                    <form th:action="@{/blog/comm?id={i}&comm={c}&link={l}(i=${record.id},c=${c.id},l=${link})}" th:object="${commString}" method="post">
                                        <div class="input-group mb-3">
                                            <button class="btn btn-outline-primary" type="submit">Сохранить</button>
                                            <input type="text" class="form-control" aria-describedby="button-addon2" th:field="*{text}" autocomplete="off">
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <div th:if="${c.reply}">
                                <div class="container">
                                    <div class="row justify-content-md-end">
                                        <div class="col">
                                            <ul class="list-group list-group-flush">
                                                <div th:each="r: ${reply}">
                                                    <li class="list-group-item">
                                                        <figure>
                                                            <blockquote class="blockquote"><a th:href="@{/blog/userRecord?name={n}(n=${c.name})}" th:text="${r.name} + ${r.replyString}"></a></blockquote>
                                                            <figcaption class="blockquote-footer" th:text="${r.date}"></figcaption>
                                                        </figure>
                                                        <p th:text="${r.text}"></p>
                                                        <a data-bs-toggle="collapse" th:href="'#commReply'+${r.id}" role="button" aria-expanded="true">Ответить</a>
                                                        <div class="collapse" th:id="'commReply'+${r.id}">
                                                            <form th:action="@{/blog/commReply?id={i}&comm={c}&link={l}(i=${record.id},c=${r.id},l=${link})}" th:object="${commString}" method="post">
                                                                <div class="input-group mb-3">
                                                                    <button class="btn btn-outline-primary" type="submit">Сохранить</button>
                                                                    <input type="text" class="form-control" aria-describedby="button-addon2" th:field="*{text}" autocomplete="off">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </table>
                </ul>
            </div>

        </div>

        <div class="col-4">
            Рекомендуем подписаться:
            <div class="overflow-auto">
                <table class="table">
                    <tr th:each="r: ${users}">
                        <td>
                            <a th:href="@{/blog/sub?name={s}(s=${r.text})}" th:text="${r.text}"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="recordModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ваша новая запись:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/blog/addRecord?link={l}(l=${link})}" th:object="${newRecord}" method="post">
                    <div class="input-group mb-2">
                        <textarea type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" th:field="*{text}" autocomplete="off"></textarea>
                    </div>
                    <div class="d-grid d-md-flex justify-content-md-end">
                        <button class="btn btn-outline-primary" type="submit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mesModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mesModalLabel">Уведомления:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <table class="table">
                        <tr th:each="n: ${notice}">
                            <a class="list-group-item" th:href="@{/blog/delMes?id={i}(i=${n.id})}">
                                <figure>
                                    <blockquote class="blockquote" th:text="${n.text}"></blockquote>
                                    <figcaption class="blockquote-footer" th:text="${n.date}"></figcaption>
                                </figure>
                                <div th:if="${n.comm}">
                                    <span class="d-inline-block text-truncate" style="max-width: 400px;" th:text="${n.string}"></span>
                                </div>
                            </a>
                        </tr>
                    </table>
                </ul>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" th:href="@{/blog/delAllMes?link={l}(l=${link})}">Всё прочитано</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Измените Вашу запись:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/blog/editRecord?id={i}&link={l}(i=${record.id},l=${link})}" th:object="${editRecord}" method="post">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" th:field="*{text}" autocomplete="off">
                    </div>
                    <div class="d-grid d-md-flex justify-content-md-end">
                        <button class="btn btn-outline-primary" type="submit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delModalLabel">Осторожно!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h7>Вы действительно хотите удалить эту запись?</h7>
                <h7>Это действие невозможно будет отменить.</h7>
                <div class="d-grid d-md-flex justify-content-md-end">
                    <a class="btn btn-danger" type="submit" th:href="@{/blog/delRecord?id={i}&link={l}(i=${record.id},l=${link})}">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

